.popup__submit-button {
    width: 358px;
    height: 50px;
    background-color: black;
    color: white;
    margin: 34px auto auto;
    border: none;
    border-radius: 2px;
  }
  
  .popup__submit-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }
  
  @media screen and (max-width: 767px) {
    .popup__submit-button {
     width: 238px;
     height: 46px;
     margin: 29px auto auto;
    }
  }