.header__logo {
  background-image: url(../../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 142px;
  height: 33px;
  margin: 0 0 41px;
  padding: 0;
}

@media all and (max-width: 700px) {
  .header__logo {
    width: 103px;
    height: 24px;
    margin: 0 auto 31px 27px;
  }
}
