.elements {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  gap: 19px 16px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  }

@media screen and (max-width: 1100px) {
  .elements {
    grid-template-columns: repeat(2, 282px); 
  }
}


@media screen and (max-width: 767px) {  
  .elements {
    grid-template-columns: repeat(1, 282px);
    gap: 22px;
    }
}