.elements__like {
    background-image: url('../../../images/vector.svg');
    width: 22px;
    height: 19px;
    border: none;
    background-color: #ffffff;
    padding: 0;
    margin: 31px 20px auto auto;
    background-repeat: no-repeat;
    transition: opacity .3 ease-in-out;
  }
  
.elements__like:hover {
  opacity: .5;
  cursor: pointer;
}
