.popup__close-button {
    width: 32px;
    height: 32px;
    background-image: url('../../../images/close-icon.svg');
    background-color: transparent;
    border: none;
    background-position: 50% 50%;
    position: absolute;
    top: -40px;
    right: -40px;
    
  }
  
  .popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  @media screen and (max-width: 767px) {
    .popup__close-button {
      width: 20px;
      height: 20px;
      right: 1px;
      background-color: #000;
      background-size: 40px 40px;
    }
  }