.popup__close-button {
    width: 32px;
    height: 32px;
    background: transparent url('../../../images/close-icon.svg') 50%/cover no-repeat;
    border: none;
    outline: none;
    position: absolute;
    right: -40px;
    top: -40px;
}
  
.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}
  
@media screen and (max-width: 767px) {
  .popup__close-button {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    right: -5px;
    top: -44px;
  }
}