.popup__field_description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

@media screen and (max-width: 767px) {
  .popup__field_description {
    margin-bottom: 30px;
  }
}