.popup__field {
    height: 57px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    color: #000;
    overflow-y: scroll;
  
}
  
.popup__field:focus {
  outline-color: rgba(0, 0, 0, .2);
}

@media screen and (max-width: 767px) {
  .popup__field {
    height: 27px;
  }
}